<h1>New Students</h1>
<p>Enrolment Form</p>

<div id="form">
<form class="register" action="/students" method="post">

<div>
  <label for="firstName">First Name</label>
  <input type="text" name="first_name" id="firstName"/>
</div>

<div>
  <label for="lastName">Last Name</label>
  <input type="text" name="last_name" id="lastName"/>
</div>

<div>
  <label for="House">Select a House</label>
  <select name="house" id="House">
    <% for house in @houses %>
    <option value="<%= house.id %>"><%= house.name%></option>
  <% end %>
  </select>
</div>

<div>
  <label for="age">Age</label>
  <input type="number" name="age" id="age"/>
</div>

<div>
  <input type="submit" value="Register">
<div>

</form>
</div>
