<form action="/students" method="post">
  <label for="firstName">First Name</label>
  <input type="text" name="first_name" id="firstName"/>

  <label for="lastName">Last Name</label>
  <input type="text" name="last_name" id="lastName"/>

  <label for="House">Select a House</label>
  <select name="house" id="House">
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="age">Age</label>
  <input type="number" name="age" id="age"/>

  <input type="submit" value="Register">

</form>
