<h1>Student Roster</h1>

<div id="studentContainer">
<% @students.each do |student| %>
<div class="student">
  <div>
    <p>Name: <%=student.full_name()%></p>
    <p>House: <%=student.house.name()%></p>
    <p>Age: <%=student.age()%></p>
    <p>----------------</p>
  </div>
  <div>
    <img class="houseCrest" src="<%=student.house.logo()%>" alt="logo" >
  </div>
</div>
  <% end %>
</div>
